*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
  background: #333;
  text-align: center;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #008000;
}

nav img[alt="logo"] {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  outline: 2px solid gray;
}
nav img[alt="font"] {
  margin: 10px;
}

nav div {
  display: flex;
  align-items: center;
}
nav h1 {
  margin: 10px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-container img {
  width: 50px;
  height: 50px;
}

.choice-container {
  display: flex;
  justify-content: space-between;
}

.choice-container div {
  background-color: #008000;
  margin: 10px;
}

@media (max-width: 400px) {
  .player img,
  .aichoose img {
    width: 80px;
  }

  .game-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .border {
    margin: 10px;
  }

  .ai {
    width: 150px;
  }
}
